<div class="index-header pt-4 px-4">
  <h3>My List</h3>
  <%= link_to "Create New List", new_list_path, class: "btn btn-danger" %>
</div>

<div class="cards">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div id="index-card" class="card bg-dark text-white m-2" style="width: 320px; height:240px">
        <% unless list.photo.key.nil?  %>

        <% else %>
          <%= image_tag "https://loremflickr.com/g/320/240/movies", class: "card-img-fluid" %>
        <% end %>
        <div id ="index-card-name" class="card-img-overlay d-flex justify-content-center align-items-center">
          <h5 class="card-title"><%= list.name.capitalize %>(<%= list.bookmarks.count %>)</h5>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%# splide %>

