
<% if @list.movies.empty? %>
  <div class="d-flex justify-content-center align-items-end" style="color: white; opacity: 0.7; height: 150px;">
  <h4><em>No Bookmarks yet（；´д｀）ゞ</em></h4>
</div>
<div class="d-flex justify-content-center my-3">
  <%= link_to "Add Movies", new_list_bookmark_path(@list), class: " mb-5 btn btn-primary" %>
</div>
<% else %>

<%# Main Slide %>
<div id="main-slider" class="splide">
  <div class="splide__track" style="color:white;">
      <div class="splide__list">
        <% @list.bookmarks.each do |bookmark| %>
          <div class="splide__slide">
              <%= render "components/card",
                title: bookmark.movie.title,
                rating: bookmark.movie.rating,
                overview: bookmark.movie.overview.split(" ").first(75).join(" "),
                photo: bookmark.movie.backdrop_url,
                comment: bookmark.comment,
                movie: bookmark.movie.id,
                path: bookmark_path(bookmark)
              %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="index-header">
  <div class="px-lg-5">
    <h3>
      <%= @list.name.capitalize %>
      <%= render "components/modal", path: list_path(@list) %>
      <%= link_to edit_list_path(@list) do %>
        <i class="far fa-edit fa-xs" style="font-size: 1rem;"></i>
      <% end %>
    </h3>
  </div>
  <div class="px-3">
  </div>
</div>

<% unless @list.movies.empty? %>
<%# Thumbnails %>
<div id="thumbail-images" class="splide">
    <div class="splide__track">
      <div class="splide__list">
        <% @list.bookmarks.each do |bookmark| %>
          <div class="splide__slide">
            <%= image_tag bookmark.movie.poster_url %>
          </div>
        <% end %>
          <div class="splide__slide new">
            <div class="new-bookmark inactive" style="height:100%;">
              <%= link_to new_list_bookmark_path(@list),style:"text-decoration: none" do %>
                <%= render "components/addCard" %>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row px-lg-5 pt-5 d-flex justify-content-between" style="color: white; border-top: 2px solid rgb(48,48,48);">
  <div class="col-lg-6 col-sm-12 px-sm-2 m-3">
    <h2>Reviews</h2>
    <% if @list.reviews.any? %>
      <% @list.reviews.each do |review| %>
        <div class="d-flex flex-column py-3 ms-0" style="border-bottom: 2px solid rgb(48,48,48);">
          <p></p>
          <p>
            <% review.rating.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5 - review.rating).times do %>
              <i class="far fa-star"></i>
            <% end %>
            <small style="opacity: 0.7;"><em><%= review.time_of_review %></em></small>
          </p>
          <p><%= review.content %></p>
        </div>
      <% end %>
    <% else %>
      <p style="color: white; opacity: 0.7; height: 150px;"><em>No Reviews yet (っ °Д °;)っ</em></p>
    <% end %>
  </div>
<div class="col-lg-5 col-sm-12 p-3 ml-3" style="height:30%; background-color: rgb(48,48,48);">
  <h4>Add your Review</h4>
    <%= simple_form_for [@list, @review], remote: true do |f| %>
      <%= f.input :content, placeholder: "Write your review..." %>
      <%= f.input :rating, :collection => [1,2,3,4,5] %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
