<div class="form-header">
    <h2>Add Movie</h2>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie %>
      <%= f.input :comment %>
      <div class="d-flex justify-content-between">
        <%= f.submit "Add movie",  class: "btn btn-primary" %>
        <%= link_to "Cancel", list_path(@list), class: "btn btn-secondary" %>
      </div>
    <% end %>
</div>